force-app/main/default/flows/Consent_Form_Email_to_Job_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Consent_Form_Email_Action_1</name>
        <label>Send Consent Form to Guardian</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <actionName>JobApplicationConsentFormController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>applications</name>
            <value>
                <elementReference>varApplicationIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JobApplicationConsentFormController</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Add Application Ids to List</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varApplicationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Job_Applications.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Job_Applications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Meet_Criteria_for_Guardian_Consent_Form</name>
        <label>Meet Criteria for Guardian Consent Form?</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Job_Applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Meet Criteria</defaultConnectorLabel>
        <rules>
            <name>Meets_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Applications.Submitted_From_Universal_App__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Job_Applications.Guardian_Consent_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Job_Applications.Applicant_s_Age_at_Start_of_Program__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Job_Applications.Guardian_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Meets Criteria</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Consent Form Email to Job Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Form Email to Job Applications</label>
    <loops>
        <name>Loop_over_Job_Applications</name>
        <label>Loop over Job Applications</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Job_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Meet_Criteria_for_Guardian_Consent_Form</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Consent_Form_Email_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Applications</name>
        <label>Get Job Applications</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Job_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a02DK00000Hb7g2YAB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Launchpad__Applicant_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Applications</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-04</startDate>
            <startTime>13:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varApplicationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
