force-app/main/default/flows/Contact_After_Record_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Job_Application_IDs</name>
        <label>Assign Job Application IDs</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>FilteredJobApplicationIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Job_Applications.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Job_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Session_Record_Type_IDs</name>
        <label>Assign Session Record Type IDs</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SessionRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Session_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Session_Record_Type</targetReference>
        </connector>
    </assignments>
    <description>Fix school fields</description>
    <environments>Default</environments>
    <interviewLabel>Contact - After Record Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After Record Save</label>
    <loops>
        <name>Loop_through_Job_Applications</name>
        <label>Loop through Job Applications</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Job_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Job_Application_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Session_Record_Type</name>
        <label>Loop through Session Record Type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Session_Record_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Session_Record_Type_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Session_Program</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Session_Program</name>
        <label>Get Current Session (Program)</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>SessionRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Launchpad__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Launchpad__Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get job applications related to current session (Program)</description>
        <name>Get_Job_Applications</name>
        <label>Get Job Applications</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Job_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Session_Program.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Launchpad__Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Launchpad__Applicant_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Record_Type</name>
        <label>Get Session Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Session_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Session</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Records</name>
        <label>Update Application Records</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FilteredJobApplicationIDs</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applicant_Blind_Difficulty_Seeing__c</field>
            <value>
                <elementReference>$Record.Youth_Blind_Serious_Difficulty_Seeing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_CPS_DHS__c</field>
            <value>
                <elementReference>$Record.Youth_Involved_With_CPS_DHS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Deaf_Difficulty_Hearing__c</field>
            <value>
                <elementReference>$Record.Youth_Deaf_Serious_Difficulty_Hearing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Foster_Care__c</field>
            <value>
                <elementReference>$Record.Youth_Living_Lived_in_Foster_Care__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Involved_in_Justice_System__c</field>
            <value>
                <elementReference>$Record.Youth_Involved_in_Justice_System__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Medical_Conditions__c</field>
            <value>
                <elementReference>$Record.Youth_Medical_Conditions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Mental_Disability_Diagnosis__c</field>
            <value>
                <elementReference>$Record.Youth_Mental_Disability_Diagnosis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Mental_Health_Diagnosis__c</field>
            <value>
                <elementReference>$Record.Youth_Received_Mental_Health_Diagnosis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Need_Support_Assistance__c</field>
            <value>
                <elementReference>$Record.Youth_Need_Support_Assistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Country_of_Nationality__c</field>
            <value>
                <elementReference>$Record.Country_of_Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Current_Employment_Status__c</field>
            <value>
                <elementReference>$Record.Current_Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Current_Gender__c</field>
            <value>
                <elementReference>$Record.Launchpad__Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Date_of_Birth_MM_DD_YYYY__c</field>
            <value>
                <elementReference>$Record.Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Email_Address__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Internet_Connectivity__c</field>
            <value>
                <elementReference>$Record.Youth_s_Internet_Connectivity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Last_Completed_Grade__c</field>
            <value>
                <elementReference>$Record.Grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Monthly_Gross_Income__c</field>
            <value>
                <elementReference>$Record.Youth_s_Estimated_Monthly_Gross_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Phone_Number__c</field>
            <value>
                <elementReference>$Record.HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Preferred_Name__c</field>
            <value>
                <elementReference>$Record.Preferred_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Preferred_Pronoun__c</field>
            <value>
                <elementReference>$Record.Launchpad__Gender_Pronoun__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Primary_Language__c</field>
            <value>
                <elementReference>$Record.Launchpad__Primary_Language_Spoken_at_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Sex_Assigned_at_Birth__c</field>
            <value>
                <elementReference>$Record.Sex_Assigned_At_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_State__c</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_s_Street_Address__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicants_Current_Most_Recent_School__c</field>
            <value>
                <elementReference>$Record.School__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Living_Situation__c</field>
            <value>
                <elementReference>$Record.Youth_s_Current_Living_Situation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_Youth_s_Partner_Live_With_Them__c</field>
            <value>
                <elementReference>$Record.Youth_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Email__c</field>
            <value>
                <elementReference>$Record.Emergency_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_First_Name__c</field>
            <value>
                <elementReference>$Record.Emergency_Contact_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Last_Name__c</field>
            <value>
                <elementReference>$Record.Emergency_Contact_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.Emergency_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Relationship__c</field>
            <value>
                <elementReference>$Record.Emergency_Contact_Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guardian_Email__c</field>
            <value>
                <elementReference>$Record.Guardian_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guardian_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Launchpad__Parent_Guardian_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Many_Children_in_Youth_s_Household__c</field>
            <value>
                <elementReference>$Record.How_Many_Children_in_Youth_s_Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_Youth_TANF_Eligible__c</field>
            <value>
                <elementReference>$Record.Is_This_Youth_TANF_Eligible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Primary_Caregiver_of_Child_ren__c</field>
            <value>
                <elementReference>$Record.Parent_Primary_Caregiver_of_Child_ren__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race_and_or_Ethnicity__c</field>
            <value>
                <elementReference>$Record.Race_Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_this_Young_Person__c</field>
            <value>
                <elementReference>$Record.Relationship_To_This_Young_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_Governmental_Benefits_Does__c</field>
            <value>
                <elementReference>$Record.Government_Benefits_Applicant_Receives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_Applicant_s_Current_Relation__c</field>
            <value>
                <elementReference>$Record.Current_Relationship_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Launchpad__Applicant_Tracking__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Session_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Kj000001HEWhIAO</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentC2LSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Launchpad__Program__c</objectType>
    </variables>
    <variables>
        <name>FilteredJobApplicationIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobApplicationIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionRecordID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
