force-app/main/default/flows/Daily_Notification_Check_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_Matched_Participants</name>
        <label>Send Email Alert to Matched Participants</label>
        <locationX>50</locationX>
        <locationY>1176</locationY>
        <actionName>Launchpad__Applicant_Tracking__c.Matched_Participant_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>applicationIdForAlert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Launchpad__Applicant_Tracking__c.Matched_Participant_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Unmatched_Participant_Email_Action</name>
        <label>Unmatched Participant Email Action</label>
        <locationX>314</locationX>
        <locationY>1176</locationY>
        <actionName>Launchpad__Applicant_Tracking__c.Unmatched_Participant_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>applicationIdForAlert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Launchpad__Applicant_Tracking__c.Unmatched_Participant_Email</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_an_Application_ID_for_Alert</name>
        <label>Assign an Application ID for Alert</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>applicationIdForAlert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Applications.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Application_In_Matched_or_Placed_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matched_or_Placed_to_True</name>
        <label>Set Matched or Placed to True</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>hasMatchedOrPlacedApplicationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Applications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Application_In_Matched_or_Placed_Status</name>
        <label>Is Application In Matched or Placed Status</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Unmatched</defaultConnectorLabel>
        <rules>
            <name>Is_Matched_or_Placed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Applications.Applicant_s_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matched with Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Applications.Applicant_s_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Placed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matched_or_Placed_to_True</targetReference>
            </connector>
            <label>Is Matched or Placed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Email_Blank</name>
        <label>Is Contact Email Blank</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Email Is Blank</defaultConnectorLabel>
        <rules>
            <name>Email_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Applications_Related_to_Contact</targetReference>
            </connector>
            <label>Email Is Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Participant_Matched_or_Placed</name>
        <label>Is Participant Matched or Placed</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Unmatched_Participant_Email_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Unmatched</defaultConnectorLabel>
        <rules>
            <name>No_Applications_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applications_Related_to_Contact</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Applications Found</label>
        </rules>
        <rules>
            <name>Is_Matched_Placed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasMatchedOrPlacedApplicationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_to_Matched_Participants</targetReference>
            </connector>
            <label>Is Matched or Placed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Daily Notification Check &amp; Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Notification Check &amp; Email</label>
    <loops>
        <name>Loop_Through_Applications</name>
        <label>Loop Through Applications</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Applications_Related_to_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_an_Application_ID_for_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Participant_Matched_or_Placed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Applications_Related_to_Contact</name>
        <label>Get Applications Related to Contact</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launchpad__Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Youth_Notification_Date_is_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Launchpad__Applicant_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_Email_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Program_Notification_Date_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-18</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationIdForAlert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasMatchedOrPlacedApplicationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
