force-app/main/default/flows/Update_Contacts_When_Ready_for_Reassignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_Boolean_False</name>
        <label>Set Boolean False</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varAllStagePassedOrShortlisted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_For_Reassignment</name>
        <label>Set Field For Reassignment</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Contact.Ready_for_Reassignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_2</name>
        <label>Contact Ready for Reassignment?</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Reassignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllStagePassedOrShortlisted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contact</targetReference>
            </connector>
            <label>Ready for Reassignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_Shortlisted_or_Passed1</name>
        <label>Stage is Shortlisted or Passed &amp; Willing</label>
        <locationX>358</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_Boolean_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Shortlisted_or_Passed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Launchpad__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Launchpad__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortlisted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Willing_to_accept_an_unselected_program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Stage is Shortlisted or Passed &amp; Willing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contacts When Ready for Reassignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contacts When Ready for Reassignment</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop Related Job Applications</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Job_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stage_is_Shortlisted_or_Passed1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Field_For_Reassignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Launchpad__Participant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Job_Applications</name>
        <label>Get Related Job Applications</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launchpad__Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Launchpad__Participant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Launchpad__Applicant_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>Get_Related_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Job_Applications</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Launchpad__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Launchpad__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shortlisted</stringValue>
            </value>
        </filters>
        <object>Launchpad__Applicant_Tracking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAllStagePassedOrShortlisted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
